/* Color Palette
#F7F7F2 - White
#0091E0 - Light Blue
#031A6B - Blue
#001C55 - Navy Blue
#061A40 - Dark Blue
*/

/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0px;
}
a {
  color: #0091E0;
}
a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  padding: 50px;
  margin: 0 auto;
  overflow: auto;
}
.col-narrow {
  width: 30%;
  float: left;
  min-height: 175px;  
}
.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
  min-height: 175px;
}


/* Header & Footer
------------------------------------*/
header, footer {
  background: #061A40;
  color: #0091E0;
}
/* Header */
header h1,header h2 {
  color: #F7F7F2;
  margin: 0;
}
.profile-img {
  border-radius: 50%;
}
/* Footer */
footer {
  text-align: center;
}
.contact-info a{
  padding: 10px;
  display: inline-block;
}

/* Work Experience
------------------------------------*/
.work {
  background: #F7F7F2;
}


/* Education
------------------------------------*/
.education {
  background: #0091E0;
}
