/* Color Palette
#F7F7F2 - White
#0091E0 - Light Blue
#031A6B - Blue
#001C55 - Navy Blue
#061A40 - Dark Blue
*/

/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0px;
}
h3 {
  margin-top: 0px;
}
.job-title {
  font-weight: bold;
}
.job-title p {
  margin-bottom: 5px;
}
a {
  color: #0091E0;
}
a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  padding: 60px 50px;
  margin: 0 auto;
  overflow: hidden;
}
.col-narrow {
  width: 30%;
  float: left;
  min-width: 175px;
}
.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
}

.uppercase {
  text-transform: uppercase;
}
.btn {
  text-decoration: none;
  background-color: red;
  color: white;
  font-weight: 700;
  padding: 10px;
  display: inline-block;
}


/* Header & Footer
------------------------------------*/
header, footer {
  background: #061A40;
  color: #0091E0;
}
header {
  background: linear-gradient(rgba(0,145,224,1), rgba(0,145,224,0.7)),
  url('../images/30thStreet.jpg') no-repeat fixed;
  background-size: cover;
  padding-top: 50px;
  position: relative;
}
/* Header */
header h1,header h2, header p {
  color: #F7F7F2;
}
.profile-img {
  border-radius: 50%;
}
.download {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Footer */
footer {
  text-align: center;
}
.contact-info a{
  padding: 10px;
  display: inline-block;
}
/* Navigation
------------------------------------*/

nav {
  text-align: center;
  background: white;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* Work Experience
------------------------------------*/
.work {
  background: #F7F7F2;
}

h3 ~ p{
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 0;
}


/* Education
------------------------------------*/
.education {
  background: linear-gradient(rgba(0,145,224,0.9), rgba(0,145,224,0.5)),
  url('../images/30thStreet.jpg') no-repeat fixed;
  background-size: cover;
  color: #000;
  font-weight: 700;
}
p + h3 {
  margin-top: 30px;
}
